@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

body{
    margin: 0;
    padding: 0;
    background: red;
    font-family: 'Hind', sans-serif;
    font-size: 1.2rem;

}

.header {
    background-color: forestgreen;
}
.menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-around;
}