@import url('https://fonts.googleapis.com/css?family=Lobster|Muli&display=swap');
html {
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
    font-size: 1.2rem;
    max-width: 1366px;
}

.header {
    display: flex;
    flex-direction: column;
    background: url('./img/bg.jpg') no-repeat 50% 50%;
    height: 100vh;
    width: 100vw;
    color: #2b2b1d;
}
.menu {
    height: 5%;
    margin: 0;
    padding: 0;
    padding-top: 2%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 1.5rem;
}
.name {
    display: flex;
    flex-direction: column;
    padding-top: 9%;
    justify-content: center;
    align-self: center;
    height: 95%;
    margin-bottom: 0;
    font-family: 'Lobster', cursive;
    font-size: 4em;
    opacity: 0;
    animation: name-show 1.5s ease-in-out 0.5s;
    animation-fill-mode: forwards;
}
.github {
    display: flex;
    justify-content: center;
    margin-bottom: 32%;
    font-size: 1.5rem;
    animation: name-show 1s ease-in-out 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.fa-github {
    font-size: 2rem;
}
.github a {
    text-decoration: none;
    color: #2b2b1d;
    font-weight: normal;
}
.github a:hover {
    border-bottom: 2px solid #2b2b1d;
}

.avatar {
    display: flex;
    align-items: center;
    height: 100%;
    width: 200px;
    height: 200px;
    margin-left: 1em;
}

.main__about-me {
    display: flex;
    align-content: center;
    margin: 1em; 
}
.about-me {
    
    width: 80%;
    text-align: justify;
}
/* .first-paragraf {
    display: flex;
} */
@keyframes name-show {
    from {opacity: 0;}
    to {opacity: 1;}
}