@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');
html {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1366px;
}

body{
    padding: 0 8vw;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.2rem;
}

table{
    width:80vw;
}