@import url("https://fonts.googleapis.com/css?family=Lobster|Muli&display=swap");
html {
  overflow-x: hidden;
}

html body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  font-size: 1.2rem;
  max-width: 1366px;
}

html body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../img/bg.jpg") no-repeat 50% 50%;
  height: 100vh;
  width: 100vw;
  color: #2b2b1d;
}

html body .header .menu {
  height: 5%;
  margin: 0;
  padding: 0;
  padding-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.5rem;
}

html body .header .menu a {
  text-decoration: none;
  color: #2b2b1d;
  font-weight: normal;
}

html body .header .menu a:hover {
  border-bottom: 2px solid #2b2b1d;
}

html body .header .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 9%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  height: 95%;
  margin-bottom: 0;
  font-family: 'Lobster', cursive;
  font-size: 4em;
  opacity: 0;
  -webkit-animation: name-show 1.5s ease-in-out 0.5s;
          animation: name-show 1.5s ease-in-out 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

html body .header .github {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 32%;
  font-size: 1.5rem;
  -webkit-animation: name-show 1s ease-in-out 1.5s;
          animation: name-show 1s ease-in-out 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

html body .header .github .fa-github {
  font-size: 2rem;
}

html body .header .github a {
  text-decoration: none;
  color: #2b2b1d;
  font-weight: normal;
}

html body .header .github a:hover {
  border-bottom: 2px solid #2b2b1d;
}

html body .main .main__about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 1em;
}

html body .main .main__about-me .about-me {
  width: 100%;
  text-align: justify;
}

html body .main .technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .main .technologies .html, html body .main .technologies .css3, html body .main .technologies .js, html body .main .technologies .sass, html body .main .technologies .jquery, html body .main .technologies .webpack, html body .main .technologies .npm, html body .main .technologies .ps, html body .main .technologies .figma, html body .main .technologies .less, html body .main .technologies .svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15%;
  margin: 1rem;
}

html body .main .technologies .html .html5_logo, html body .main .technologies .html .css3_logo, html body .main .technologies .html .js_logo, html body .main .technologies .html .sass_logo, html body .main .technologies .html .jquery_logo, html body .main .technologies .html .webpack_logo, html body .main .technologies .html .npm_logo, html body .main .technologies .html .ps_logo, html body .main .technologies .html .figma_logo, html body .main .technologies .html .less_logo, html body .main .technologies .html .svg_logo, html body .main .technologies .css3 .html5_logo, html body .main .technologies .css3 .css3_logo, html body .main .technologies .css3 .js_logo, html body .main .technologies .css3 .sass_logo, html body .main .technologies .css3 .jquery_logo, html body .main .technologies .css3 .webpack_logo, html body .main .technologies .css3 .npm_logo, html body .main .technologies .css3 .ps_logo, html body .main .technologies .css3 .figma_logo, html body .main .technologies .css3 .less_logo, html body .main .technologies .css3 .svg_logo, html body .main .technologies .js .html5_logo, html body .main .technologies .js .css3_logo, html body .main .technologies .js .js_logo, html body .main .technologies .js .sass_logo, html body .main .technologies .js .jquery_logo, html body .main .technologies .js .webpack_logo, html body .main .technologies .js .npm_logo, html body .main .technologies .js .ps_logo, html body .main .technologies .js .figma_logo, html body .main .technologies .js .less_logo, html body .main .technologies .js .svg_logo, html body .main .technologies .sass .html5_logo, html body .main .technologies .sass .css3_logo, html body .main .technologies .sass .js_logo, html body .main .technologies .sass .sass_logo, html body .main .technologies .sass .jquery_logo, html body .main .technologies .sass .webpack_logo, html body .main .technologies .sass .npm_logo, html body .main .technologies .sass .ps_logo, html body .main .technologies .sass .figma_logo, html body .main .technologies .sass .less_logo, html body .main .technologies .sass .svg_logo, html body .main .technologies .jquery .html5_logo, html body .main .technologies .jquery .css3_logo, html body .main .technologies .jquery .js_logo, html body .main .technologies .jquery .sass_logo, html body .main .technologies .jquery .jquery_logo, html body .main .technologies .jquery .webpack_logo, html body .main .technologies .jquery .npm_logo, html body .main .technologies .jquery .ps_logo, html body .main .technologies .jquery .figma_logo, html body .main .technologies .jquery .less_logo, html body .main .technologies .jquery .svg_logo, html body .main .technologies .webpack .html5_logo, html body .main .technologies .webpack .css3_logo, html body .main .technologies .webpack .js_logo, html body .main .technologies .webpack .sass_logo, html body .main .technologies .webpack .jquery_logo, html body .main .technologies .webpack .webpack_logo, html body .main .technologies .webpack .npm_logo, html body .main .technologies .webpack .ps_logo, html body .main .technologies .webpack .figma_logo, html body .main .technologies .webpack .less_logo, html body .main .technologies .webpack .svg_logo, html body .main .technologies .npm .html5_logo, html body .main .technologies .npm .css3_logo, html body .main .technologies .npm .js_logo, html body .main .technologies .npm .sass_logo, html body .main .technologies .npm .jquery_logo, html body .main .technologies .npm .webpack_logo, html body .main .technologies .npm .npm_logo, html body .main .technologies .npm .ps_logo, html body .main .technologies .npm .figma_logo, html body .main .technologies .npm .less_logo, html body .main .technologies .npm .svg_logo, html body .main .technologies .ps .html5_logo, html body .main .technologies .ps .css3_logo, html body .main .technologies .ps .js_logo, html body .main .technologies .ps .sass_logo, html body .main .technologies .ps .jquery_logo, html body .main .technologies .ps .webpack_logo, html body .main .technologies .ps .npm_logo, html body .main .technologies .ps .ps_logo, html body .main .technologies .ps .figma_logo, html body .main .technologies .ps .less_logo, html body .main .technologies .ps .svg_logo, html body .main .technologies .figma .html5_logo, html body .main .technologies .figma .css3_logo, html body .main .technologies .figma .js_logo, html body .main .technologies .figma .sass_logo, html body .main .technologies .figma .jquery_logo, html body .main .technologies .figma .webpack_logo, html body .main .technologies .figma .npm_logo, html body .main .technologies .figma .ps_logo, html body .main .technologies .figma .figma_logo, html body .main .technologies .figma .less_logo, html body .main .technologies .figma .svg_logo, html body .main .technologies .less .html5_logo, html body .main .technologies .less .css3_logo, html body .main .technologies .less .js_logo, html body .main .technologies .less .sass_logo, html body .main .technologies .less .jquery_logo, html body .main .technologies .less .webpack_logo, html body .main .technologies .less .npm_logo, html body .main .technologies .less .ps_logo, html body .main .technologies .less .figma_logo, html body .main .technologies .less .less_logo, html body .main .technologies .less .svg_logo, html body .main .technologies .svg .html5_logo, html body .main .technologies .svg .css3_logo, html body .main .technologies .svg .js_logo, html body .main .technologies .svg .sass_logo, html body .main .technologies .svg .jquery_logo, html body .main .technologies .svg .webpack_logo, html body .main .technologies .svg .npm_logo, html body .main .technologies .svg .ps_logo, html body .main .technologies .svg .figma_logo, html body .main .technologies .svg .less_logo, html body .main .technologies .svg .svg_logo {
  width: 150px;
}

html body .main .technologies .html .html5_caption, html body .main .technologies .html .css3_caption, html body .main .technologies .html .js_caption, html body .main .technologies .html .sass_caption, html body .main .technologies .html .jquery_caption, html body .main .technologies .html .webpack_caption, html body .main .technologies .html .npm_caption, html body .main .technologies .html .ps_caption, html body .main .technologies .html .figma_caption, html body .main .technologies .html .less_caption, html body .main .technologies .html .svg_caption, html body .main .technologies .css3 .html5_caption, html body .main .technologies .css3 .css3_caption, html body .main .technologies .css3 .js_caption, html body .main .technologies .css3 .sass_caption, html body .main .technologies .css3 .jquery_caption, html body .main .technologies .css3 .webpack_caption, html body .main .technologies .css3 .npm_caption, html body .main .technologies .css3 .ps_caption, html body .main .technologies .css3 .figma_caption, html body .main .technologies .css3 .less_caption, html body .main .technologies .css3 .svg_caption, html body .main .technologies .js .html5_caption, html body .main .technologies .js .css3_caption, html body .main .technologies .js .js_caption, html body .main .technologies .js .sass_caption, html body .main .technologies .js .jquery_caption, html body .main .technologies .js .webpack_caption, html body .main .technologies .js .npm_caption, html body .main .technologies .js .ps_caption, html body .main .technologies .js .figma_caption, html body .main .technologies .js .less_caption, html body .main .technologies .js .svg_caption, html body .main .technologies .sass .html5_caption, html body .main .technologies .sass .css3_caption, html body .main .technologies .sass .js_caption, html body .main .technologies .sass .sass_caption, html body .main .technologies .sass .jquery_caption, html body .main .technologies .sass .webpack_caption, html body .main .technologies .sass .npm_caption, html body .main .technologies .sass .ps_caption, html body .main .technologies .sass .figma_caption, html body .main .technologies .sass .less_caption, html body .main .technologies .sass .svg_caption, html body .main .technologies .jquery .html5_caption, html body .main .technologies .jquery .css3_caption, html body .main .technologies .jquery .js_caption, html body .main .technologies .jquery .sass_caption, html body .main .technologies .jquery .jquery_caption, html body .main .technologies .jquery .webpack_caption, html body .main .technologies .jquery .npm_caption, html body .main .technologies .jquery .ps_caption, html body .main .technologies .jquery .figma_caption, html body .main .technologies .jquery .less_caption, html body .main .technologies .jquery .svg_caption, html body .main .technologies .webpack .html5_caption, html body .main .technologies .webpack .css3_caption, html body .main .technologies .webpack .js_caption, html body .main .technologies .webpack .sass_caption, html body .main .technologies .webpack .jquery_caption, html body .main .technologies .webpack .webpack_caption, html body .main .technologies .webpack .npm_caption, html body .main .technologies .webpack .ps_caption, html body .main .technologies .webpack .figma_caption, html body .main .technologies .webpack .less_caption, html body .main .technologies .webpack .svg_caption, html body .main .technologies .npm .html5_caption, html body .main .technologies .npm .css3_caption, html body .main .technologies .npm .js_caption, html body .main .technologies .npm .sass_caption, html body .main .technologies .npm .jquery_caption, html body .main .technologies .npm .webpack_caption, html body .main .technologies .npm .npm_caption, html body .main .technologies .npm .ps_caption, html body .main .technologies .npm .figma_caption, html body .main .technologies .npm .less_caption, html body .main .technologies .npm .svg_caption, html body .main .technologies .ps .html5_caption, html body .main .technologies .ps .css3_caption, html body .main .technologies .ps .js_caption, html body .main .technologies .ps .sass_caption, html body .main .technologies .ps .jquery_caption, html body .main .technologies .ps .webpack_caption, html body .main .technologies .ps .npm_caption, html body .main .technologies .ps .ps_caption, html body .main .technologies .ps .figma_caption, html body .main .technologies .ps .less_caption, html body .main .technologies .ps .svg_caption, html body .main .technologies .figma .html5_caption, html body .main .technologies .figma .css3_caption, html body .main .technologies .figma .js_caption, html body .main .technologies .figma .sass_caption, html body .main .technologies .figma .jquery_caption, html body .main .technologies .figma .webpack_caption, html body .main .technologies .figma .npm_caption, html body .main .technologies .figma .ps_caption, html body .main .technologies .figma .figma_caption, html body .main .technologies .figma .less_caption, html body .main .technologies .figma .svg_caption, html body .main .technologies .less .html5_caption, html body .main .technologies .less .css3_caption, html body .main .technologies .less .js_caption, html body .main .technologies .less .sass_caption, html body .main .technologies .less .jquery_caption, html body .main .technologies .less .webpack_caption, html body .main .technologies .less .npm_caption, html body .main .technologies .less .ps_caption, html body .main .technologies .less .figma_caption, html body .main .technologies .less .less_caption, html body .main .technologies .less .svg_caption, html body .main .technologies .svg .html5_caption, html body .main .technologies .svg .css3_caption, html body .main .technologies .svg .js_caption, html body .main .technologies .svg .sass_caption, html body .main .technologies .svg .jquery_caption, html body .main .technologies .svg .webpack_caption, html body .main .technologies .svg .npm_caption, html body .main .technologies .svg .ps_caption, html body .main .technologies .svg .figma_caption, html body .main .technologies .svg .less_caption, html body .main .technologies .svg .svg_caption {
  text-align: center;
  width: 150px;
  font-style: italic;
  font-size: 0.8rem;
  opacity: 0.8;
  line-height: 2rem;
}

html body .main .portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .main .portfolio .hexal {
  width: 250px;
  height: 150px;
  margin: 1rem;
  border: 0.5em solid #e6c69e;
  border-radius: 1.5em;
}

@-webkit-keyframes name-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes name-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */